Repository AvaPrime/EcoMate, changes with the owners that CODEOWNERS names for each.
All owners: @ecomate-platform/core-team, @ecomate-platform/docs-team, @ecomate-platform/ai-team, @ecomate-platform/backend-team, @ecomate-platform/devops-team, @ecomate-platform/security-team, @ecomate-platform/frontend-team, @ecomate-platform/legal-team, @ecomate-platform/compliance-team

feat(ci): add workflows for CodeQL, CI and pre-commit hooks
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  MAINTAINERS.md
  PRIVACY.md
  TERMS.md
  eco_mate_rapid_professional_readiness_assessment_2025_09_03.md
  ecomate-ai/services/monitoring.py
  ecomate-ai/tests/test_health.py
Owners: @ecomate-platform/devops-team, @ecomate-platform/core-team, @ecomate-platform/docs-team, @ecomate-platform/backend-team, @ecomate-platform/ai-team

feat(vendors): add vendor integration services with pricing and quote functionality
  ecomate-ai/services/proposal/bom_engine.py
  ecomate-ai/services/proposal/cost_model.py
  ecomate-ai/services/proposal/models.py
  ecomate-ai/services/vendors/__init__.py
  ecomate-ai/services/vendors/adapters.py
  ecomate-ai/services/vendors/cache.py
  ecomate-ai/services/vendors/client.py
  ecomate-ai/services/vendors/models.py
  ecomate-ai/services/vendors/test_vendors.py
Owners: @ecomate-platform/backend-team

feat(compliance): enhance compliance workflows and models with structured evaluation
  eco_mate_project_readiness_checklist
  ecomate-ai/services/catalog/__init__.py
  ecomate-ai/services/catalog/activities_catalog.py
  ecomate-ai/services/catalog/models.py
  ecomate-ai/services/catalog/router_catalog.py
  ecomate-ai/services/catalog/sync.py
  ecomate-ai/services/catalog/test_catalog.py
  ecomate-ai/services/compliance/activities_compliance.py
  ecomate-ai/services/compliance/engine.py
  ecomate-ai/services/compliance/models.py
  ecomate-ai/services/compliance/router_compliance.py
  ecomate-ai/services/compliance/rules/iso_14001.yaml
  ecomate-ai/services/compliance/rules/iso_9001.yaml
  ecomate-ai/services/compliance/rules/sans_10400.yaml
  ecomate-ai/services/compliance/rules/sans_geyser.yaml
  ecomate-ai/services/compliance/workflows_compliance.py
  ecomate-ai/services/maintenance/activities_maintenance.py
  ecomate-ai/services/maintenance/models.py
  ecomate-ai/services/maintenance/scheduler.py
  ecomate-ai/services/maintenance/workflows_maintenance.py
  ecomate-ai/services/telemetry/README.md
  ecomate-ai/services/telemetry/activities_alerts.py
  ecomate-ai/services/telemetry/ingestor.py
  ecomate-ai/services/telemetry/init_db.py
  ecomate-ai/services/telemetry/models.py
  ecomate-ai/services/telemetry/requirements.txt
  ecomate-ai/services/telemetry/router_telemetry.py
  ecomate-ai/services/telemetry/store.py
  ecomate-ai/services/telemetry/workflows_alerts.py
Owners: @ecomate-platform/core-team, @ecomate-platform/backend-team, @ecomate-platform/compliance-team

feat(geospatial): add geospatial service with multi-provider integration
  ecomate-ai/services/climate/client.py
  ecomate-ai/services/climate/models.py
  ecomate-ai/services/geospatial/README.md
  ecomate-ai/services/geospatial/__init__.py
  ecomate-ai/services/geospatial/client.py
  ecomate-ai/services/geospatial/example_usage.py
  ecomate-ai/services/geospatial/models.py
  ecomate-ai/services/geospatial/requirements.txt
  ecomate-ai/services/geospatial/router.py
  ecomate-ai/services/geospatial/service.py
  ecomate-ai/services/geospatial/test_geospatial.py
Owners: @ecomate-platform/backend-team

feat(regulatory): add regulatory monitoring service with multi-standards support
  ecomate-ai/services/iot/__init__.py
  ecomate-ai/services/regulatory/README.md
  ecomate-ai/services/regulatory/__init__.py
  ecomate-ai/services/regulatory/client.py
  ecomate-ai/services/regulatory/example_usage.py
  ecomate-ai/services/regulatory/models.py
  ecomate-ai/services/regulatory/requirements.txt
  ecomate-ai/services/regulatory/router.py
  ecomate-ai/services/regulatory/service.py
  ecomate-ai/services/regulatory/test_regulatory.py
Owners: @ecomate-platform/backend-team

feat(iot): add pydantic models for iot data pipeline
  ecomate-ai/services/iot/client.py
  ecomate-ai/services/iot/models.py
Owners: @ecomate-platform/backend-team

feat(iot): add device manager and core service for IoT platform
  ecomate-ai/services/iot/dashboard.py
  ecomate-ai/services/iot/data_pipeline.py
  ecomate-ai/services/iot/device_manager.py
  ecomate-ai/services/iot/router.py
  ecomate-ai/services/iot/security_manager.py
  ecomate-ai/services/iot/service.py
Owners: @ecomate-platform/backend-team

feat: enhance monitoring and logging with comprehensive health checks
  LICENSE.md
  ecomate-ai/.env.example
  ecomate-ai/CODE_OF_CONDUCT.md
  ecomate-ai/CONTRIBUTING.md
  ecomate-ai/Dockerfile
  ecomate-ai/LICENSE
  ecomate-ai/README.md
  ecomate-ai/SECURITY.md
  ecomate-ai/docker-compose.yml
  ecomate-ai/requirements-dev.txt
  ecomate-ai/requirements.txt
  ecomate-ai/services/api/main.py
  ecomate-ai/services/catalog/sync.py
  ecomate-ai/services/geospatial/router.py
  ecomate-ai/services/monitoring.py
  ecomate-ai/services/proposal/cost_model.py
  ecomate-ai/services/shared/logging_config.py
  ecomate-ai/services/shared/rate_limiting.py
  ecomate-ai/services/shared/validation.py
Owners: @ecomate-platform/legal-team, @ecomate-platform/security-team, @ecomate-platform/ai-team, @ecomate-platform/devops-team, @ecomate-platform/backend-team

feat(api): add input validation and rate limiting middleware
  ecomate-ai/pytest.ini.bak
  ecomate-ai/services/api/main.py
  ecomate-ai/tests/test_validation_rate_limiting.py
Owners: @ecomate-platform/ai-team, @ecomate-platform/backend-team

refactor(models): update pydantic validator imports and syntax to v2
  ecomate-ai/services/__init__.py
  ecomate-ai/services/catalog/models.py
  ecomate-ai/services/climate/models.py
  ecomate-ai/services/compliance/models.py
  ecomate-ai/services/geospatial/models.py
  ecomate-ai/services/geospatial/router.py
  ecomate-ai/services/iot/models.py
  ecomate-ai/services/orchestrator/activities.py
  ecomate-ai/services/regulatory/models.py
  ecomate-ai/services/regulatory/router.py
  ecomate-ai/services/shared/validation.py
  ecomate-ai/services/telemetry/router_telemetry.py
Owners: @ecomate-platform/backend-team, @ecomate-platform/compliance-team

refactor(parsers): restructure parser modules and improve dispatcher logic
  ecomate-ai/.coverage
  ecomate-ai/pytest.ini
  ecomate-ai/services/parsers/base.py
  ecomate-ai/services/parsers/dispatcher.py
  ecomate-ai/services/parsers/llm_fallback.py
  ecomate-ai/services/parsers/pumps.py
  ecomate-ai/services/parsers/uv.py
  ecomate-ai/services/utils/exceptions.py
  ecomate-ai/tests/conftest.py
  ecomate-ai/tests/unit/test_parser_dispatcher.py
  ecomate-ai/tests/unit/test_pump_parser.py
  ecomate-ai/tests/unit/test_utils_fetch.py
  ecomate-ai/tests/unit/test_utils_html_parser.py
  ecomate-ai/tests/unit/test_utils_minio_storage.py
  ecomate-ai/tests/unit/test_uv_parser.py
Owners: @ecomate-platform/ai-team, @ecomate-platform/backend-team

test: add comprehensive test suite to increase coverage
  eco_mate_test_coverage_expansion_plan_service_by_service.md
  ecomate-ai/.coverage
  ecomate-ai/.github/workflows/ci.yml
  ecomate-ai/tests/conftest.py
  ecomate-ai/tests/factories.py
  ecomate-ai/tests/integration/test_catalog_api.py
  ecomate-ai/tests/integration/test_catalog_service.py
  ecomate-ai/tests/integration/test_climate_api.py
  ecomate-ai/tests/integration/test_compliance_api.py
  ecomate-ai/tests/integration/test_geospatial_api.py
  ecomate-ai/tests/integration/test_health.py
  ecomate-ai/tests/integration/test_iot_api.py
  ecomate-ai/tests/integration/test_maintenance_api.py
  ecomate-ai/tests/integration/test_openapi_contract.py
  ecomate-ai/tests/integration/test_proposal_api.py
  ecomate-ai/tests/integration/test_proposal_service.py
  ecomate-ai/tests/integration/test_regulatory_api.py
  ecomate-ai/tests/integration/test_telemetry_api.py
  ecomate-ai/tests/test_utils.py
  ecomate-ai/tests/unit/test_bom_engine.py
  ecomate-ai/tests/unit/test_cost_model.py
  ecomate-ai/tests/unit/test_normalizers.py
  ecomate-ai/tests/unit/test_parsers.py
  ecomate-ai/tests/unit/test_validators.py
Owners: @ecomate-platform/docs-team, @ecomate-platform/ai-team, @ecomate-platform/devops-team, @ecomate-platform/compliance-team

CODEOWNERS:

# Global ownership
* @ecomate-platform/core-team

# Documentation
*.md @ecomate-platform/docs-team
docs/ @ecomate-platform/docs-team
mkdocs.yml @ecomate-platform/docs-team

# AI Services
ecomate-ai/ @ecomate-platform/ai-team
services/ @ecomate-platform/backend-team

# Infrastructure
.github/ @ecomate-platform/devops-team
Dockerfile* @ecomate-platform/devops-team
docker-compose*.yml @ecomate-platform/devops-team
tools/ @ecomate-platform/devops-team

# Configuration
*.env* @ecomate-platform/security-team
requirements.txt @ecomate-platform/backend-team
package*.json @ecomate-platform/frontend-team

# Security
SECURITY.md @ecomate-platform/security-team
LICENSE* @ecomate-platform/legal-team

# Compliance
services/compliance/ @ecomate-platform/compliance-team
*compliance* @ecomate-platform/compliance-team
